.game {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 16vh 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1px;
    background-color: #333;
    font-size: 2vh;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 0.5vh;
    text-align: center;
}

.label {
    composes: cell;
    background-color: #600;
    justify-content: left;
    text-align: left;
}

.formula {
    composes: cell;
    background-color: #006;
}

.formulaEmpty {
    composes: formula;
}

.playerName {
    composes: cell;
    background-color: #444;
}